### Node ###
PORT = 3020

### default dialogFlow token ###
API_AI_TOKEN = token

### Region and Localization ###
DEFAULT_LANGUAGE = en
DEFAULT_REGION = US

### ECE ###
ENTRY_POINT_ID = 1001

### Context Service REST auth tokens ###
CS_TOKEN_GET_CUSTOMER = token
CS_TOKEN_CREATE_POD = token
CS_TOKEN_CREATE_REQUEST = token

### dcloud API token ###
DCLOUD_API_TOKEN = your.jwt.token

### twilio ###
# SMS number for APJ region
TWILIO_APJ_NUMBER = +1234567890
TWILIO_BACKUP_NUMBER = +18177556260

### facebook ###
FACEBOOK_VERIFY_TOKEN = Cisco123cisco

### cloud mongo ###
MONGO_URL = mongodb+srv://user:pass@host/cumulus?retryWrites=true

### mortgage calculator ###
CALCULATOR_URL = http://mm-static.cxdemo.net/calculator.html

### Session Timeout in Seconds ###
SESSION_TIMEOUT = 300

### Survey ###
SURVEY_ID = SPARKY001

### Chat Transcript ###
TRANSCRIPT_MEDIA_TYPE = chat

### Goodbye message triggers ###
GOODBYE_MESSAGES = goodbye,ciao,bye

### UCCX chat config ###

# UCCX Chat Form
UCCX_TEAMS_FORM_ID = 100000
UCCX_SMS_FORM_ID = 100000
UCCX_CHAT_FORM_ID = 100000
UCCX_CHAT_BOT_FORM_ID = 100000
UCCX_CHAT_FACEBOOK_FORM_ID = 100000

# UCCX CSQ
UCCX_TEAMS_CSQ = Chat_Csq2
UCCX_SMS_CSQ = Chat_Csq31
UCCX_CHAT_CSQ = Chat_Csq3
UCCX_CHAT_BOT_CSQ = Chat_Csq31
UCCX_CHAT_FACEBOOK_CSQ = Chat_Csq28

# No Agents Available Message
MESSAGE_UCCX_NO_AGENTS = No Agents are currently available. Please try again later.
# Looking for agents Message
MESSAGE_UCCX_WAITING = Please wait while we connect you to the next available agent.
# Connected to Message
MESSAGE_UCCX_CONNECTED = Now connected with:
# End Session Message
MESSAGE_UCCX_END_CHAT = has left this chat session.
# Timeout Message
MESSAGE_UCCX_TIMEOUT = This session is being closed due to inactivity.

# REST API base URL
API_BASE = http://localhost:3002

# persistent demo (cxdemo)
PERSISTENT_DEMO_FACEBOOK_WEBHOOK = https://sparky.cxdemo.net/api/v1/facebook/webhook

### webex teams ###
TEAMS_PAYLOAD_SECRET = Cisco123cisco

# whether to use the public IP or public DNS record of the demo to escalate
# optional. options are 'ip' or 'dns'. default is 'ip'.
PUBLIC_ADDRESS_TYPE = ip

# API tokens for sending REST requests to the instant demo sessions
INSTANT_DEMO_TOKEN = your.token.here
